sub-proj-morty/src/main/resources/META-INF/schema/sub-proj-morty.xsd

<xsd:schema targetNamespace="http://docs.openrepose.org/jaxbTest1/morty/v1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <xsd:complexType name="helloMortyReqType">
        <xsd:sequence>
            <xsd:element name="request" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="helloMortyResType">
        <xsd:sequence>
            <xsd:element name="response" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
